<p class="text-muted">* fields are required!</p>
<form class="form-group" [formGroup]="contactform">
  <hr/>
  <div class="row">
    <div class="col-md-6">
      <header class="text-muted">Personal</header>
      <label for="">Name *</label>
      <input type="text" formControlName="name" id="name" class="form-control" />
      <label for="">Email</label>
      <input type="text" formControlName="email" id="name" class="form-control" />
      <label for="">Job title</label>
      <input type="text" formControlName="jobtitle" id="name" class="form-control" />
      <label for="">Location</label>
      <input type="text" formControlName="location" id="name" class="form-control" />
    </div>

    <div class="col-md-6" formGroupName="social">
      <header class="text-muted">Social</header>
      <label for="fb">Facebook</label>
      <input type="url" formControlName="facebook" id="fb" class="form-control" />
      <label for="git">Github</label>
      <input type="url" formControlName="github" id="git" class="form-control" />
      <label for="tw">Twitter</label>
      <input type="url" formControlName="twitter" id="tw" class="form-control" />
      <label for="lkd">Linked-in</label>
      <input type="url" formControlName="linkedin" id="lkd" class="form-control" />
      <button class="btn btn-primary pull-right" type="button" (click)="onSubmit()" [disabled]="contactform.invalid">Create contact</button>

    </div>
  </div>
</form>
