<div class="panel panel-default">
  <div class="panel-body">
    <p class="text-muted">TAGS</p>
    <ul class="list-group">
      <li class="list-group-item"><a routerLink="contacts">All contacts</a></li>
      <li class="list-group-item"><a routerLink="contacts/friend">Friends</a></li>
      <li class="list-group-item"><a routerLink="contacts/family">Family</a></li>
      <li class="list-group-item"><a routerLink="contacts/acquaintance">Acquaintances</a></li>
      <li class="list-group-item"><a routerLink="contacts/following">Following</a></li>
    </ul>
  </div>
</div>
