<p class="text-muted">TAGS</p>
<button class="btn btn-primary btn-xs" [disabled]="buttonActive" (click)="addTag($event, 'Friend')" type="button">FRIENDS</button>
<button class="btn btn-info btn-xs" [disabled]="buttonActive" (click)="addTag($event, 'Family')" type="button">FAMILY</button>
<button class="btn btn-success btn-xs" [disabled]="buttonActive" (click)="addTag($event, 'Acquaintance')" type="button">ACQUAINTANCES</button>
<button class="btn btn-warning btn-xs" [disabled]="buttonActive" (click)="addTag($event, 'Following')" type="button">FOLLOWING</button>
