<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">live binding</label>
        <input type="text" class="form-control" (keyup)="onChange($event)" />
        <!--<input type="text" class="form-control" (keyup.enter)="onChange($event)" />-->
        <!--<input type="text" class="form-control" (change)="onChange($event)" />-->
        <!--<input type="text" class="form-control" (change)="onChange(hobby.value)" #hobby/>-->
        <span>{{hobby}}</span>
      </div>
    </div>
  </div>
</div>
