<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-contact-nav></app-contact-nav>
    </div>
    <div class="col-md-9">
      <hr/>
      <div class="row">
        <app-contact-header></app-contact-header>
      </div>
      <div class="row">
        <div class="col-md-12">
          <hr/>
          <app-contact-form (newContact)="onNewContact()"></app-contact-form>
          <hr/>
          <app-contact-tags></app-contact-tags>
        </div>
      </div>
    </div>
  </div>
</div>
