<div class="col-md-4 bookleaf bg-success" *ngFor="let book of books; let i = index">
  <div class="col-md-4">
    <img [src]="book.imgsrc" alt="Java Script fun" width="90px" class="img-rounded" />
  </div>
  <div class="col-md-8">
    <button type="button" class="close" (click)="onRemove(i)" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p>{{book.bookdata.title | uppercase}}</p>
    <p>{{book.bookdata.author}}</p>
    <p>{{book.bookdata.date | date:full}}</p>
    <p>{{book.authoremail | lowercase}}</p>
    <p>{{book.keywords}}</p>
    <!--<button type="button" class="close"><span class="glyphicon glyphicon-pencil"></span></button>-->
  </div>
</div>
