<form [formGroup]="bookform" (ngSubmit)="onBookSave()">
  <div class="container">
    <div class="row" formGroupName="bookdata">
      <div class="col-md-6">
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" id="title" class="form-control" formControlName="title">
          <span *ngIf="!bookform.get('bookdata.title').valid && bookform.get('bookdata.title').touched" class="help-block">
          <span *ngIf="bookform.get('bookdata.title').errors['required']" class="help-block">book title is required!</span>
          <span *ngIf="bookform.get('bookdata.title').errors['booknotallowed']" class="help-block">HTML and CSS books not allowed!</span>
          </span>
        </div>
        <div class="form-group">
          <label for="author">Author:</label>
          <input type="text" id="author" class="form-control" formControlName="author">
          <span *ngIf="!bookform.get('bookdata.author').valid && bookform.get('bookdata.author').touched" class="help-block">Please enter book's author!</span>
        </div>
        <div class="form-group">
          <label for="date">Release Date:</label>
          <input type="date" id="date" class="form-control" formControlName="date">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="authore">Author email:</label>
          <input type="email" id="authore" class="form-control" formControlName="authoremail">
          <span *ngIf="!bookform.get('authoremail').valid && bookform.get('authoremail').errors.required && bookform.get('authoremail').touched"
            class="help-block">Dude! field is required!</span>
          <span *ngIf="!bookform.get('authoremail').valid && bookform.get('authoremail').errors.email && bookform.get('authoremail').touched"
            class="help-block">wrong email format!</span>
        </div>
        <div class="form-group">
          <label for="keyword">Keywords:</label>
          <input type="text" id="keyword" class="form-control" formControlName="keywords">
        </div>
        <span *ngIf="!bookform.valid && bookform.touched" class="help-block">Please enter valid data!</span>
        <div class="form-group">
          <button class="btn btn-primary" [disabled]="!bookform.valid" type="submit">Add Book</button>
          <!--<button class="btn btn-primary" type="submit">Add Book</button>-->
        </div>
      </div>
    </div>
  </div>
</form>
<app-booddashboard [books]="books"></app-booddashboard>
